.container{
  
  width: 30%;
  height: 100vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 
  background: linear-gradient(to bottom right, #041F1BFA, #380C4A, #3B0E46, #3D0F42, #441436, #33254E, #2B2D59, #292654, #271F4F, #240D37, #22052D, #22052D, #22052D, #22052D);

 background-blend-mode: multiply; 

}

.container2{
  position: absolute;
  top: 30%;
  left: 60%   ;
  width: 25%;
  height: 50%;
 
}

.front{
  width: 447px;
  height: 245px;
 position: absolute;
 left: 35%;
 top: 13%;
 background-image: url('bg-card-front.png');
 
}
.back{
  position: absolute;
  width: 447px;
  height: 245px;
  background-image: url('bg-card-back.png');
  top:54% ;
  left: 60%;
}



.logo{
  position: absolute;
  left: 5%;
  top: 8%;
}
.numOutput{
  position: absolute;
  display: flex;
  width: 99%;
  
  height: 15%;
  top: 60%;
  justify-content: center;
  justify-self: center;
  justify-items: center;

  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.68px;
}

.nameOutput{
  
  position: absolute;
  bottom: 12%;
  left: 14%;

  color: #FFF;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.47px;
}
.expOutput div{
  /* border: 1px solid red; */
  display: inline;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.29px;
}
.expOutput{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 10%;
  position: absolute;
  bottom: 9.5%;
  right: 17%;
}
.cvcOutput{
  
  position: absolute;
  top: 46%;
  right: 12%;

  color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3.29px;
}
